<table mat-table [dataSource]="dataSource" class="mat-elevation-z8x">


  <ng-container matColumnDef="nome">
    <th class="bold" mat-header-cell *matHeaderCellDef> Nome </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.nome}} </td>
  </ng-container>

  <ng-container matColumnDef="perfil">
    <th class="bold" mat-header-cell *matHeaderCellDef> Perfil </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.perfil}} </td>
  </ng-container>

  <ng-container matColumnDef="idade">
    <th class="bold" mat-header-cell *matHeaderCellDef> Idade </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.idade | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th class="bold" mat-header-cell *matHeaderCellDef> E-mail </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="ativo">
    <th class="bold" mat-header-cell *matHeaderCellDef> Ativo </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.ativo}} </td>
  </ng-container>

  <ng-container matColumnDef="pais">
    <th class="bold" mat-header-cell *matHeaderCellDef> País </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.pais}} </td>
  </ng-container>

  <ng-container matColumnDef="nivelExperiencia">
    <th class="bold" mat-header-cell *matHeaderCellDef> Nível Experiência </th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> {{element.nivelExperiencia}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th class="bold" mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let i = index" [ngClass]="{'odd-row': i % 2 === 0, 'even-row': i % 2 !== 0}"> 
      <button mat-button class="edit-button" [routerLink]="['/cadastro', element.id]">
        Editar
      </button>
      <button mat-button class="delete-button" (click)="delete(element)">
        Apagar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <button mat-button class="botao-add-cadastro" [routerLink]="['/cadastro']">
    Novo
  </button>
</div>

